<form [formGroup]="languageForm" (ngSubmit)="updateLanguage()">
    <h2 mat-dialog-title>Update Language</h2>
    <mat-divider style="padding-bottom: 10px;"></mat-divider>
        <div class="input-container">
          <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label>ISO</mat-label>
            <input matInput placeholder="" [formControl]="iso" formControlName="iso" required>
            <mat-error *ngIf="iso.invalid">{{'Pls pass the valid name. max length is 10.'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" [formControl]="name" formControlName="name" required>
            <mat-error *ngIf="name.invalid">{{'Pls pass the valid name. max length is 50'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label>Description</mat-label>
            <input matInput placeholder="" [formControl]="description" formControlName="description" required>
            <mat-error *ngIf="description.invalid">{{'Pls pass the valid name. max length is 255'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field  [style.width.%]="100">
              <mat-label>Locale</mat-label>
              <input type="number" matInput [min]=0 [max]=100  [formControl]="locale" formControlName="locale" readonly [disabled]="true">
          </mat-form-field>
        </div>
        
      <mat-dialog-actions align="end">
        <button mat-button mat-raised-button color="primary" type="submit" [disabled]="languageForm.invalid" >Confirm</button>
        <button mat-button mat-raised-button [mat-dialog-close]="true" color="warn">Cancel</button>
      </mat-dialog-actions>
  </form>