
<div class="mr-12 ml-12 mb-9">
  <div class="pb-3 pt-3">
    <button mat-raised-button color="primary" (click)="createModal()">Create</button>
  </div>
 
  <table mat-table [dataSource]="countries" class="mat-elevation-z8">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Country Code </th>
      <td mat-cell *matCellDef="let element"> {{element.countryCode}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Country Name </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-button (click)="editModal(element)">
          <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
        </button>
        <button mat-button (click)="deleteModal(element.id)"> <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon></button>
      </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>















<!-- <div class="container py-6">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div>
          <button [routerLink]="['/country-create']" class="font-bold text-white bg-gray-700 py-2 px-4 mb-4 rounded-lg sm:text-sm ">Add country</button>
    
        </div>
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No.</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Country Code</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Country Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let country of countries; let i = index">
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{i+1}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 font-semibold">{{country.countryCode}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{country.country}}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <button class="text-indigo-600 hover:text-indigo-900 pr-2" (click)="openUpdateModal(country)">Edit</button>
                  <button class="text-red-600 hover:text-red-400 pr-2" (click)="openRemoveModal(country.id)">Delete</button>
                </td>
              </tr>   
            </tbody>
          </table>  
        </div>
        <p class="text-red-500 text-xs italic" *ngIf="countries!=null && countries.length<1" > There is no data.</p>
      </div>
    </div>
  </div>
</div> -->

